@import url("https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&display=swap");/* Styling Search Input */
.title-absensi h2 {
  font-weight: 700;
  font-family: "Poltawski Nowy", serif;
}

.dark-mode .nav-tabs .nav-link {
  background-color: #2c2c2c;
  color:#ffffff;
}

.dark-mode .nav-tabs .nav-link.active {
  background-color: #2c2c2c;
}

.tab-content-enter {
  opacity: 0;
  transform: translateY(20px);
}

.tab-content-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.tab-content-exit {
  opacity: 1;
  transform: translateY(0);
}

.tab-content-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 300ms, transform 300ms;
}

