/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900&display=swap");

/* Styling Search Input */
.title-employee h1 {
  font-weight: 700;
  font-family: "Poltawski Nowy", serif;
}
.search-input {
  max-width: 300px;
  margin-top: 20px;
  width: 100%;
}

.input-search {
  border-radius: 10px;
}

/* Table Styling */
.mdb-table {
  border-color: #343a40 !important;
  width: 100%; /* Menjamin table mengambil lebar penuh container */
}

.mdb-table th,
.mdb-table td {
  border-color: #343a40 !important;
}


.mdb-table tbody td {
  padding: 15px; /* Padding dalam cell */
  vertical-align: middle; /* Agar konten di tengah secara vertikal */
}


/* Button Add Styling */
.button-add {
  width: 100%;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  font-family: "Inter", sans-serif;
  font-size: 10px;
}

/* Name Table Styling */
.name-table {
  font-family: "Inter", sans-serif;
  font-weight: bold;

}

.form-control-in{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -ms-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
}
/* Search Input Focused State */
.search-input .form-control-in {
  border: 1px solid black;
}

.search-input .form-control-in:focus {
  border-color: black;
  box-shadow: none;
}

.search-input .input-group-text {
  border: 1px solid black;
}

/* Category Line Styling */

.form-select.category-line {
  border: 1px solid black;
  color: #000;
}

.form-select.category-line:focus {
  border-color: black;
  box-shadow: none;
}

/* Action Column Styling */
.action-column {
  padding-right: 0 !important;
}

/* Rows Name Styling */
.rows-name {
  margin-top: 10px !important;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  margin-left: 20px;
}

/* Custom Select Styling */
.custom-select {
  border-width: 2px;
  border-color: #b8b8b8;
  border-style: solid;
  border-radius: 5px;
  padding: 3px;
}
.table-responsive {
  width: 100%; /* Pastikan lebar penuh kontainer */
}

/* Hanya untuk ukuran mobile */
@media (max-width: 768px) {
  .mdb-table {
    display: block; /* Mengubah table menjadi elemen block */
    width: 100%; /* Menjamin table mengambil lebar penuh container */
    overflow-x: auto; /* Mengizinkan scroll horizontal */
    white-space: nowrap; /* Menghindari table cell memaksa break line */
  }
}

/* Responsive Styling for PC */
@media (min-width: 769px) {
  .search-input {
    max-width: 300px;
  }

  .button-add {
    margin-left: 85%;
  }

  
}

/* Adjustments for smaller screens */
@media (max-width: 1024px) {
  .search-input {
    max-width: 100%;
    margin-left: 10px;
  }

  .button-add {
    margin-left: 0;
    justify-content: center;
    margin-top: 10px;
  }

  div select.form-select.small-dropdown {
    margin-left: 10px;
    max-width: 100%;
  }

  .category-line {
    margin-left: 10px;
  }
}

/* New Add Styling */
.new-add {
  font-family: "Poltawski Nowy", serif;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  animation: fadeIn 0.8s ease-in-out;
}

.mdb-table {
  animation: fadeIn 1s ease-in-out;
}

.new-add {
  animation: fadeIn 1.2s ease-in-out;
}

.dark-mode .title-employee h1 e.text-employee {
  border-color: #ffffff; /* Mengubah warna border menjadi putih */
}
.dark-mode .mdb-table {
  background-color: #2a2a2a; /* Warna latar belakang tabel */
  border-color: #444444; /* Warna border tabel */
}

.dark-mode .mdb-table th, 
.dark-mode .mdb-table td {
  background-color: #2a2a2a; /* Warna latar belakang sel tabel */
  color: #ffffff; /* Warna teks sel tabel */
}

.dark-mode .mdb-table th {
  background-color: #333333; /* Warna latar belakang header tabel */
}
.dark-mode .action-column {
  color: #ffffff; /* Warna teks kolom aksi */
}

.dark-mode .btn-dark {
  background-color: #555555; /* Warna tombol dark */
  
}

